
$default-font: "OpenSansRegular", sans-serif
$openSansSB: "OpenSansSemiBold", sans-serif
$droidSansReg: "DroidSansRegular", sans-serif
$HelveticaNeueReg: "HelveticaNeueRegular", sans-serif
$PoppinsMed: "Poppins-Medium", sans-serif

$black-first: #454545
$black-second: #343435
$black-third: #333336
$light-grey: #d9d9d9
$grey-medium: #686868
$grey-one: #a4a8ae
$grey-second: #dcdcdc
$grey-third: #fbfbfb
$light-third: #99999f
$grey: #6c6c6f
$white: #ffffff
$blue: #0087F4